<div class="container">
    <h2>Get In My Belly!</h2>
  <div class="jumbotron">
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <h2>Choose Your Pleasure</h2>

    <panel>
      <form class="create-form">
        <div class="form-group">
          <label for="newBurger"></label>         
            <select data-placeholder="" id="newBurger" name="burger">
              <option value="Nothing Selected" selected>Please Select a Sandwich</option>
              <option value="CheeseBurger">Cheese Burger</option>
              <option value="MaxBurger">Max Burger</option>
              <option value="TeriBurger">Teriyaki Burger</option>
              <option value="Colossal">2 Pound Colossal</option>
              <option value="VeggieBurger">Veggie Burger</option>
              <option value="NotReal">Not Real Meat Burger</option>
            </select>

          <button type="submit" class="btn btn-success" id="placeOrder">
            <span class="fa fa-thumbs-up"></span>
          </button>
        </div>
      </form>
    </panel>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading" id="leftSide"><strong>Order Awesomeness</strong>
          <p>Click "Order" to send to cashier when ready for pick up</p>
        </div>
        <div class="panel-body">
          <div>
            <ul>
              {{#each burgers}}
              {{#unless addCheese}}              
                {{> burgers/burger-block addCheese=true}}
              {{!-- {{#unless devoured}}
                <span><strong>{{this.id}} - {{this.burger_name}}</strong></span>
                <button type="button" class="eatBurger btn btn-warning" id="eatButton" data-id="{{this.id}}" data-newDevoured="{{devour}}">
                <span class="fa fa-usd"></span>
                </button>
                <span><strong>{{this.price}}</strong></span>
                <hr>
              {{/unless}} --}}
              {{/unless}}
              {{/each}}
            </ul>
                        <ul>
              {{#each burgers}}
              {{#if removeCheese}}              
                {{> burgers/burger-block removeCheese=true}}
              {{!-- {{#unless devoured}}
                <span><strong>{{this.id}} - {{this.burger_name}}</strong></span>
                <button type="button" class="eatBurger btn btn-warning" id="eatButton" data-id="{{this.id}}" data-newDevoured="{{devour}}">
                <span class="fa fa-usd"></span>
                </button>
                <span><strong>{{this.price}}</strong></span>
                <hr>
              {{/unless}} --}}
              {{/if}}
              {{/each}}
            </ul>
          </div>
    <div class="col-sm-6">
      <p id="total">Awesomeness Total:</p>
    </div>
    <div class="col-sm-3">
      <button type="submit">Order</button>
    </div>
    <br>          
        </div>
      </div>
    </div>
    
    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading" id="rightSide"><strong>Burger is Ready for Pick Up</strong>
          <p>Remove order from pick up when delivered</p>
        </div>
        <div class="panel-body">
          <ul>
            {{#each burgers}}
            {{#if devoured}}
              {{> burgers/burger-block delete=true}}            
              {{!-- <span><strong>{{this.id}} - {{this.burger_name}}</strong></span>
              <button type="button" class="trashBurger btn btn-danger" id="trashButton" data-id="{{this.id}}" data-newDevoured="{{devour}}">
              <span class="fa fa-trash"></span></button>
              <span><strong>{{this.price}}</strong></span> --}}
              <hr>
            {{/if}}
            {{/each}}
          </ul>
        </div>
        <div class="col-sm-3"></div>
          <button type="submit">Devoured</button>
        </div>
        <BR><BR>
      </div>
    </div>
  </div>
</div>