<div class="container">
    <h2>Get In My Belly!</h2>
  <div class="jumbotron">
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <h2 id="glow">Choose Your Pleasure</h2>

    <panel>
      <form class="create-form">
        <div class="form-group">
          <label for="newBurger"></label>         
            <select data-placeholder="" id="newBurger" name="burger">
              <option value="Nothing Selected" selected>Please Select a Sandwich</option>
              <option value="CheeseBurger">Cheese Burger</option>
              <option value="MaxBurger">Max Burger</option>
              <option value="TeriBurger">Teriyaki Burger</option>
              <option value="Colossal">2 Pound Colossal</option>
              <option value="VeggieBurger">Veggie Burger</option>
              <option value="NotReal">Not Real Meat Burger</option>
            </select>
            <button class="btn btn-success add-burger" data-id="{{id}}" data-burger_name>
              Add
            </button>
        </div>
      </form>
    </panel>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading" id="leftSide">
          <strong>Current Orders</strong>
          <p>Click "Devoured" once you've eaten</p>
        </div>
        <div class="panel-body">
          <div>
            <ul>
              {{#each burgers}}
                {{#unless devoured }}
                  <li>
                    {{burger_name}}
                    <button class="devoured btn btn-warning" data-id={{id}}>
                      Devoured
                    </button>
                  </li>
                {{/unless}}
              {{/each}}
            </ul>
          </div>
        </div>
      </div>
    </div>
    
    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading" id="rightSide"><strong>Burger is Ready for Pick Up</strong>
          <p>Remove order from pick up when delivered</p>
        </div>
        <div class="panel-body">
          <ul>
           {{#each burgers}}
                {{#if devoured }}
                  <li>
                    {{burger_name}}
                    <button class="deleteBurger btn btn-warning" data-id={{id}}>
                      Delete
                    </button>
                  </li>
                {{/if}}
              {{/each}} 
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>