<li>
  {{burger_name}}

  <button class="add-burger btn btn-success" data-id="{{id}}" data-burger_name>
    {{#if add-burger}}Add{{else}}Delete{{/if}}
  </button>

  <button class="delete-burger btn btn-danger" data-id="{{this.id}}">
    {{#if delete-burger}}Delete
    {{/if}}
  </button>
</li>

<button class="devoured btn btn-warning" data-id={{this.id}}>
  {{#if devoured}}Devoured
  {{/if}}
</button>
