<li>
  {{burger_name}}

  <button class="addCheese" data-id="{{cheese}}" data-noCheese="{{cheese}}">
    {{#if addCheese}}No Cheese{{else}}Add Cheese{{/if}}
  </button>

  <button class="removeCheese" data-id="{{cheese}}" data-cheese="{{cheese}}">
  {{#if removeCheese}}Add Cheese{{else}}No Cheese{{/if}}
  </button>  

  <button class="delete-burger" data-id="{{this.id}}">Delete</button>
</li>
